@import url("https://fonts.googleapis.com/css2?family=Monserrat&Archivo:wght@900&family=Montserrat:wght@800&family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", serif;
  background-color: #f2f2f2;
  font-size: 15px; /* Font size reduced for 80% zoom */
}

.personalPicture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 20px;
  box-shadow: 0px 0px 5px #8543e0;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;

}

.personalPicture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rightSection {
  width: 40%;
  padding-left: 50px;
}

.homeContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.rightSection {
  padding-left: 50px;
}

.button {
  font-family: "Open Sans", serif;
  text-decoration: none;
  color: #502586;
  background-color: #f2f2f2;
  border-radius: 12px;
  padding-right: 10px;
  font-size: 1.8em;
}






.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-family: "Monserrat", sans-serif;
  font-size: 16px;
  border-bottom: 1px solid #4c86a8;
}

h2, h1 {
  font-family: "Monserrat", sans-serif;
  color: #4c86a8;
}

.pages a {
  padding: 15px;
  text-decoration: none;
  color: #343f3e;
}

.pages a:hover {
  color: #536563;
}

.summary {
  width: 60%;
  padding: 20px;
}

.nameLogo {
  color: #502586;
  font-family: "Monserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.title {
  color: #4c86a8;
  font-family: "Monserrat", sans-serif;
}

.projects img {
  width: 30em;
  height: 25em;
  object-fit: contain;
  border-radius: 5%;
  padding: 20px;
}

.projects {
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  margin: 20px;
  background-color: #f2f2f2;
  border: 1px solid #4c86a8;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description {
  width: 80%;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.aboutPicture {
  max-width: 450px;
  max-height: 400px;
  margin: 20px 10px 20px 0;
  border-radius: 15px;
  overflow: hidden;

  
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
}
.button {
  font-size: 1.75em;
}

.about {
  display: flex;
  flex-direction: row;
}

#skillsSection {
  max-width: 90%;
  margin: 0 auto;
}

.skillsSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  
}

.skill {
  padding: 25px;
  text-align: center;
}

.skillDescription {
  text-align: center;
}
.skill {
  position: relative;
  overflow: hidden;
  width: 125px;
  height: 125px;
  margin: 10px;
}

.skill img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease-out;
}

.skill h4 {
  margin: 0;
  padding: 2px;
}

.skill h4:first-child {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 8px;
  color: #fff;
  transition: bottom 0.3s ease-out;
}

.skill .skillDescription {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px;
  color: #fff;
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
}

.skillDescription p {
  font-size: 12px;
}

.skill:hover .skillDescription {
  transform: translateY(0);
}

.skill:hover img {
  transform: scale(1.1);
}

.skill:hover p:first-child {
  bottom: 100%;
}

footer {
  border-top: 1px solid #4c86a8;
  margin-top: 20px;
  padding-left: 50px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content p {
  margin: 0;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
}

.footer-links li {
  margin-right: 20px;
}

.footer-links a {
  text-decoration: none;
  color: #343f3e;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #536563;
}

.copyright {
  color: #4c86a8;
}

.menu-toggle {
  display: none;
}

@media screen and (max-width: 767px) {
  .projects {
    width: 100%;
  }
  .nameLogo {
    font-size: 20px;
    padding-top: 5px;
  }
  .rightSection {
    width: 90%;
    padding: 10px;
  }

  .leftSection {
    display: flex;
    justify-content: center;
    
  }


  .homeContent {
    flex-direction: column;
    justify-content: center;
  }
  p {
    font-size: 16px;
  }
  .about {
    flex-direction: column;
  }
  .summary {
    width: 90%;
  }
  .image {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }
  .aboutPicture {
    padding: 0px;
    width: 95%;
  }
  .skillsSection {
    grid-template-columns: 1fr 1fr;
    justify-items:center;
  }
  .skill {
    position: relative;
    overflow: hidden;
    width: 110px; /* Adjust container width as needed */
    height: 110px; /* Adjust container height as needed */
    margin: 10px;
  }

  .skillDescription p {
    font-size: 10px;
  }



  .description {
    width: auto;
  }

  .project img {
    max-width: 100%;
    margin-top: 20px;
  }
  .header {
    position: relative;
  }

  .pages {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff; /* Adjust background color as needed */
    transition: top 1s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .show-menu {
    display: flex; /* Show the menu */
    top: 60px; /* Adjust the value based on your header height */
  }
}



  .header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-family: "Monserrat", sans-serif;
    font-size: 16px;
    border-bottom: 1px solid #4c86a8;
  }

h2, h1 {
  font-family: 'Oswald', sans-serif;
  color: #4C86A8;
}

.pages a{
  padding: 15px;
  text-decoration: none;
  color: #343F3E
}
.pages a:hover{
  color: #536563;
}
.summary {
  width: 60%;
  padding: 20px;
}
.nameLogo {
  color: #502586;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.title {
  color:  #4C86A8;
  font-family: 'Oswald', sans-serif;
}

.projects img {
  width: 500px;
  object-fit: contain;
}
.projects {
  margin: 0 auto;
}

.project {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
  padding: 30px;
  border-bottom: 1px solid #4C86A8;
}

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .description {
    width: 80%;
  }

  .link {
    padding-right: 20px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  .aboutPicture {
    max-width: 400px;
    padding: 20px;
    padding-top: 100px;
  }

  .about {
    display: flex;
    flex-direction: row;
  }

  #skillsSection {
    max-width: 90%;
    margin: 0 auto;
  }

  .skillsSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .skill {
    padding: 25px;
    text-align: center;
  }

  .skillDescription {
    text-align: center;
  }
  .skill {
    position: relative;
    overflow: hidden;
    width: 125px; /* Adjust container width as needed */
    height: 125px; /* Adjust container height as needed */
    margin: 10px;
  }

  .skill img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensure image fits inside the container */
    transition: transform 0.3s ease-out;
  }

  .skill h4 {
    margin: 0;
    padding: 2px;
  }

  .skill h4:first-child {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 8px;
    color: #fff;
    transition: bottom 0.3s ease-out;
  }

  .skill .skillDescription {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 8px;
    color: #fff;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
  }
  .skillDescription p {
    font-size: 12px;
  }
  .skill:hover .skillDescription {
    transform: translateY(0);
  }

  .skill:hover img {
    transform: scale(1.1);
  }

  .skill:hover p:first-child {
    bottom: 100%;
  }

  footer {
    border-top: 1px solid #4c86a8;
    margin-top: 20px;
    padding-left: 50px;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-content p {
    margin: 0;
  }

  .footer-links {
    list-style: none;
    padding: 0;
    display: flex;
  }

  .footer-links li {
    margin-right: 20px;
  }

  .footer-links a {
    text-decoration: none;
    color: #343f3e;
    transition: color 0.3s ease;
  }

  .footer-links a:hover {
    color: #536563;
  }

  .copyright {
    color: #4c86a8;
  }
  .menu-toggle {
    display: none;
  }

  /* Styles for small screens (e.g., mobile devices) */
  @media screen and (max-width: 767px) {
    .nameLogo {
      font-size: 20px;
      padding-top: 5px;
    }
    .rightSection {
      width: 90%;
      padding: 10px;
    }

  .leftSection {
    display: flex;
    justify-content: center;
    
  }


  .homeContent {
    flex-direction: column;
    justify-content: center;
  }
  p {
    font-size: 16px;
  }
  .about {
    flex-direction: column;
  }
  .summary {
    width: 90%;
  }
  .image {
    display: flex;
    padding: 10px;
    justify-content: center;
  }
  .aboutPicture {
    padding: 0px;
    width: 95%;

  }
  .skillsSection {
    grid-template-columns: 1fr 1fr;
  }
  .skill {
    position: relative;
    overflow: hidden;
    width: 110px; /* Adjust container width as needed */
    height: 110px; /* Adjust container height as needed */
    margin: 10px;
  }

    .skillDescription p {
      font-size: 10px;
    }

    .project {
      flex-direction: column;
      padding: 0px;
      padding-bottom: 15px;
    }

    .description {
      width: auto;
    }

    .project img {
      max-width: 100%;
      margin-top: 20px;
    }
    .header {
      position: relative;
    }

    .pages {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff; /* Adjust background color as needed */
      transition: top 1s ease-in-out;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .show-menu {
      display: flex; /* Show the menu */
      top: 60px; /* Adjust the value based on your header height */
    }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .menu-toggle span {
    display: block;
    width: 100%;
    height: 3px; /* Adjust thickness as needed */
    background-color: #000; /* Adjust color as needed */
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  /* Rotate the first and third spans to create an "X" shape */
  .menu-toggle.open span:first-child {
    transform: rotate(45deg) translateY(3px);
   
  }
  
  .menu-toggle.open span:nth-child(2) {
    opacity: 0;
  }
  
  .menu-toggle.open span:last-child {
    transform: rotate(-45deg) translateY(-3px);
  }
  

 

    .pages a {
      border-bottom: 1px solid #4c86a8;
      margin-bottom: 10px;
    }
  }

  body {
    font-family: "Open Sans", serif;
    background-color: #f2f2f2;
    font-size: 15px; /* Font size reduced for 80% zoom */
  }

  .personalPicture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 0px 0px 5px #8543e0;
  }
  .personalPicture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .rightSection {
    width: 40%;
  }

  .homeContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .rightSection {
    padding-left: 50px;
  }

 


  .button {
    color: #502586;
  }
  .button:hover {
    background-color: #dadae8;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-family: "Monserrat", sans-serif;
    font-size: 16px;
    border-bottom: 1px solid #4c86a8;
  }

  h2,
  h1 {
    font-family: "Monserrat", sans-serif;
    color: #4c86a8;
  }

  .pages a {
    padding: 15px;
    text-decoration: none;
    color: #343f3e;
  }
  .pages a:hover {
    color: #536563;
  }
  .summary {
    width: 60%;
    padding: 20px;
  }
  .nameLogo {
    color: #502586;
    font-family: "Monserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
  }

  .title {
    color: #4c86a8;
    font-family: "Monserrat", sans-serif;
  }

  .projects img {
    width: 50%;
    object-fit: contain;
  }
  .projects {
    margin: 0 auto;
  }

  .project {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
    padding: 30px;
    border-bottom: 1px solid #4c86a8;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .description {
    width: 80%;
  }

  .link {
    padding-right: 20px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  .aboutPicture {
    max-width: 400px;
    height: 400px;
    padding: 20px;
    padding-top: 100px;
  }

  .about {
    display: flex;
    flex-direction: row;
  }

  #skillsSection {
    max-width: 90%;
    margin: 0 auto;
  }

  .skillsSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .skill {
    padding: 25px;
    text-align: center;
  }

  .skillDescription {
    text-align: center;
  }
  .skill {
    position: relative;
    overflow: hidden;
    width: 125px; /* Adjust container width as needed */
    height: 125px; /* Adjust container height as needed */
    margin: 10px;
  }

  .skill img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensure image fits inside the container */
    transition: transform 0.3s ease-out;
  }

  .skill h4 {
    margin: 0;
    padding: 2px;
  }

  .skill h4:first-child {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 8px;
    color: #fff;
    transition: bottom 0.3s ease-out;
  }

  .skill .skillDescription {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 8px;
    color: #fff;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
  }
  .skillDescription p {
    font-size: 12px;
  }
  .skill:hover .skillDescription {
    transform: translateY(0);
  }

  .skill:hover img {
    transform: scale(1.1);
  }

  .skill:hover p:first-child {
    bottom: 100%;
  }

  footer {
    border-top: 1px solid #4c86a8;
    margin-top: 20px;
    padding-left: 50px;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-content p {
    margin: 0;
  }

  .footer-links {
    list-style: none;
    padding: 0;
    display: flex;
  }

  .footer-links li {
    margin-right: 20px;
  }

  .footer-links a {
    text-decoration: none;
    color: #343f3e;
    transition: color 0.3s ease;
  }

  .footer-links a:hover {
    color: #536563;
  }

.copyright {
  color: #4C86A8;
}
.menu-toggle {
  display: none;
}

/* Styles for small screens (e.g., mobile devices) */
@media screen and (max-width: 767px) {
  .nameLogo {
    font-size: 20px;
    padding-top: 5px
  }
  .rightSection {
    width: 90%;
    padding: 10px;
  }

  .leftSection {
    display: flex;
    justify-content: center;
    
  }

 .button {
  font-size: 1.75em;

 }
  .bottomButton {
    display: flex;
    justify-content: center;
  }
  .bottomButton .button {
    font-size: 16px;
    padding: 5px 60px;

  }
  .homeContent {
    flex-direction: column;
    justify-content: center;
  }
  p {
    font-size: 16px;
  }
  .about {
    flex-direction: column;
  }
  .summary {
    width: 90%;
  }
  .image {
    display: flex;
    padding: 10px;
    justify-content: center;
  }
  .aboutPicture {
    padding: 0px;
    width: 95%;

  }
  .skillsSection {
    grid-template-columns: 1fr 1fr;
  }
  .skill {
    position: relative;
    overflow: hidden;
    width: 110px; /* Adjust container width as needed */
    height: 110px; /* Adjust container height as needed */
    margin: 10px;
  }

  .skillDescription p {
    font-size: 10px;
  }

  .project {
    flex-direction: column;
    padding: 0px;
    padding-bottom: 15px;
  }

  .description {
    width: auto;
  }

  .project img {
    max-width: 100%;
    margin-top: 20px;
  }
  .header {
    position: relative;
  }

  .pages {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff; /* Adjust background color as needed */
    transition: top 1s ease-in-out; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .show-menu {
    display: flex; /* Show the menu */
    top: 60px; /* Adjust the value based on your header height */
  }

  
  
  .pages a {
    border-bottom: 1px solid #4C86A8;
    margin-bottom: 10px;

  }
  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
    cursor: pointer;
  }

  .menu-toggle a {
    color: #502586;
    text-decoration: none;
    font-size: 30px;
  }

}

.button:hover {
  color: #7e3fca;
}